# Python cache files
__pycache__/
*.py[cod]
*$py.class
.idea
# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables

# Virtual environment
venv/
env/
.env.local/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*.cover

# Migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__init__.py

# Jupyter Notebook files
.ipynb_checkpoints

# IDE files
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db